/* .body
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-size:cover;
    background-image:repeat;
}body {
    width: 100vw;
    height: 100vh;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://images.unsplash.com/photo-1519922639192-e73293ca430e?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8fA%3D%3D);
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
  }
  
  .card {
    width: 400px;
    padding: 20px;
    height: 200px;
    margin: 20px 0;
    background: rgb(0 0 0 / 5%);
    box-shadow: inset 1px 1.5px 2px #fff9, inset 1px -0.5px 2px #ffffff4d,
      0 0.6021873017743928px 0.6021873017743928px -1.25px #0000002e,
      0 2.288533303243457px 2.288533303243457px -2.5px #00000029,
      0 10px 10px -3.75px #00000010;
    backdrop-filter: blur(40px);
    border-radius: 30px;
    position: relative;
  }
    body{
        font-family: sans-serif;
        font-size: 21px;
        display: flex;
        height: 100vh;
      }
    
  .card::before,
  .card::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 4px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255 255 255 / 40%);
    border-radius: 4px;
  }
  
  .card::after {
    margin-left: -30px;
  }
  
  .card::before {
    width: 50px;
  }
  
  .side {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s;
  }
  
  .left-side {
    transform: rotateY(45deg) translateX(-1000px);
    animation: animate-left 1s forwards;
  }
  .right-side {
    transform: rotateY(-45deg) translateX(1000px);
    animation: animate-right 1s forwards;
  }
  
  .center-side {
    transform: rotateX(0deg) scale(0.9) translateY(-1000px);
    animation: animate-center 0.7s forwards;
  }
  
  .row {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .small {
    width: 150px;
    height: 150px;
  }
  
  .button {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    border: none;
    font-size: 16px;
    padding: 6px 12px;
    color: white;
    text-decoration: none;
    transition: background-color 0.25s;
  }
  
  .button:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  
  .card:has(img) {
    padding: 0;
  }
  
  label {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 26px;
  }
  
  .right-side .card {
    width: 200px;
    height: 400px;
  }
  
  @keyframes animate-left {
    100% {
      transform: rotateY(45deg) translateX(0px);
    }
  }
  
  @keyframes animate-right {
    100% {
      transform: rotateY(-45deg) translateX(0px);
    }
  }
  
  @keyframes animate-center {
    100% {
      transform: rotateX(0deg) scale(0.9) translateY(0px);
    }
  }
  .nav{
    background-color: rgb(56, 49, 49);
  }
  .container
  {
    text-color:black;
  }
  
  .navbar{
  
  z-index: 9999;
  display: flex;
  position: absolute;
  flex-direction: row;
  top: 0;
  width: 100vw;
  height:100vh;
  padding:0cm;
  } */






  /* @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap"); */



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}
body {
  min-height: 100vh;
  min-height: 100svh;
  background: #1f2c3a;
  font-family: "Nunito", sans-serif;
  position: relative;
  /* overflow: hidden; */
}

nav {
  align-items: center;
  justify-content: center;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 20px;
}
p{
  font-family:'Lobster', cursive;
  font-size: x-large;
  color:rgb(68, 11, 51);
}

nav a {
  margin-top: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family:'Lobster', cursive;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #777;
}

img {
  border-radius: 50%;
  width: clamp(100px, 40vw, 120px);
  height: clamp(100px, 40vw, 120px);
  object-fit: cover;
  object-position: top;
  overflow: hidden;
}

.circle-top {
  width: clamp(25rem, 30vw, 31.25rem);
  position: absolute;
  top: 3em;
  left: -8em;
  height: clamp(25rem, 30vw, 31.25rem);
  background: hsla(211, 100%, 28%, 1);

  background: radial-gradient(
    circle,
    #00458f8f 0%,
    #00458e00 60%,
    #ffffff00 100%
  );

  background: -moz-radial-gradient(
    circle,
    #00458f8f 0%,
    #00458e00 60%,
    #ffffff00 100%
  );

  background: -webkit-radial-radial-gradient(
    circle,
    #00458f8f 0%,
    #00458e00 60%,
    #ffffff00 100%
  );

  border-radius: 50%;
}
.circle-bottom {
  width: clamp(25rem, 30vw, 31.25rem);
  position: absolute;
  bottom: -5em;
  right: -8em;
  height: clamp(25rem, 30vw, 31.25rem);
  background: hsla(211, 100%, 28%, 1);

  background: radial-gradient(
    circle,
    #00458f8f 0%,
    #00458e00 65%,
    #ffffff00 100%
  );

  background: -moz-radial-gradient(
    circle,
    #00458f8f 0%,
    #00458e00 65%,
    #ffffff00 100%
  );

  background: -webkit-radial-radial-gradient(
    circle,
    #00458f8f 0%,
    #00458e00 65%,
    #ffffff00 100%
  );

  border-radius: 50%;
}

header {
  background: linear-gradient(to top, #1f2c3a 0%, #2f3c4742 100%),
    url("https://images.unsplash.com/photo-1529156069898-49953e39b3ac?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
      no-repeat 50% 50% / cover;
  width: 100%;
  min-height: 25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  overflow: hidden;

  .header-content {
    width: min(37.5em, 90%);
    margin-top: 5em;
    position: relative;
    z-index: 10;

    span {
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 0.063rem;
      font-size: clamp(0.8rem, 0.7625rem + 0.1875vw, 0.95rem);
    }

    h1 {
      font-size: clamp(1.5rem, 1.375rem + 0.625vw, 2rem);
      font-weight: 700;
    }
  }
}
footer{
  /* width: 10px; Adjust the width as needed */
  /*  height: auto; */
  padding: 20px;
  align-items: center;
  justify-content: center;
  align-content: center;
}
section {
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  max-width: 75em;
  margin-inline: auto;
  gap: 0.938rem;
  transform: translatey(-3em);
  position: relative;
  z-index: 10;
  overflow: hidden;

  .card {
    padding: 1.875em 1.25em;
    max-width: 18.75rem;
    width: 90%;
    height: 16.875rem;
    display: grid;
    /* place-content: center; */
    /* place-items: center; */
    text-align: center;
    position: relative;
    overflow: hidden;
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      z-index: -1;
      border: 0.125rem solid transparent;
      background: linear-gradient(45deg, #1e272e, #48627a) border-box;
      -webkit-mask: linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
    }

    h2 {
      color: #fff;
      letter-spacing: 0.05rem;
      font-size: clamp(1rem, 0.9375rem + 0.3125vw, 1.25rem);
      margin-top: 0.625em;
      margin-bottom: 0.188em;
    }

    p {
      color: #afafaf;
      font-size: clamp(0.8rem, 0.7625rem + 0.1875vw, 0.95rem);
    }

    &-top {
      flex-basis: 100%;
      display: flex;
      justify-content: center;
      gap: 0.938rem;
      flex-wrap: wrap;

      .card {
        img {
          width: clamp(120px, 40vw, 150px);
          height: clamp(120px, 40vw, 150px);
        }
      }
    }
  }
}

